{
  "extends": ["devjmetivier"],
  "rules": {
    "react/jsx-no-useless-fragment": "error",
    "import/order": [
      "ERROR",
      {
        "groups": [
          ["builtin", "external"],
          ["parent", "sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
