{
  "extends": ["devjmetivier"],
  "rules": {
    "react/jsx-no-useless-fragment": "error"
  },
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
